[Desktop Entry]
Encoding=UTF-8
Name=ZAKA
Comment=ZAKA P2P Cryptocurrency
Comment[fr]=ZAKA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ZAKA, eşten eşe kriptografik sanal para birimi
Exec=zaka-qt %u
Terminal=false
Type=Application
Icon=zaka128
MimeType=x-scheme-handler/zaka;
Categories=Office;Finance;
